MARIADB_ROOT_PASSWORD=change_me_root
AUTH_DB_PASSWORD=change_me_auth
TASK_DB_PASSWORD=change_me_task
NOTIFICATION_DB_PASSWORD=change_me_notification
PROJECT_DB_PASSWORD=change_me_project
COMMENT_DB_PASSWORD=change_me_comment